 .u-section-1 {
  min-height: 1255px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 287px);
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px calc(((100% - 1140px) / 2) + 197px) 0;
}

.u-section-1 .u-shape-1 {
  height: 259px;
  background-image: none;
  margin-top: 376px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-1 {
  height: 902px;
  grid-gap: 17px 17px;
  width: 1140px;
  margin: -588px auto 60px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 56px 56px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1097px;
  }

  .u-section-1 .u-gallery-1 {
    height: 744px;
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2672px;
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-gallery-1 {
    height: 2319px;
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2105px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 358px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-gallery-1 {
    height: 1752px;
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1475px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-gallery-1 {
    height: 1122px;
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-2 {
  min-height: 738px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  margin: 49px auto 0 calc(((100% - 1140px) / 2) + 420px);
}

.u-section-2 .u-text-2 {
  width: 746px;
  margin: 45px calc(((100% - 1140px) / 2) + 197px) 0;
}

.u-section-2 .u-shape-1 {
  height: 259px;
  background-image: none;
  width: calc(((100% - 1140px) / 2) + 1240px);
  margin: 131px auto 0 calc(((100% - 1140px) / 2) + -100px);
}

.u-section-2 .u-image-1 {
  width: 397px;
  height: 246px;
  margin: -303px auto 0 calc(((100% - 1140px) / 2) + 37px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 346px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 97px);
    margin-right: calc(((100% - 940px) / 2) + 97px);
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-top: 130px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 37px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 265px);
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 37px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 199px);
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 37px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 703px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 125px);
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 211px;
    margin-left: calc(((100% - 340px) / 2));
  }
}