 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 996px;
}

.u-section-1 .u-text-1 {
  width: 591px;
  margin: 70px auto 0;
}

.u-section-1 .u-text-2 {
  width: 754px;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-text-3 {
  width: 591px;
  margin: 21px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 644px;
  margin: 70px auto 0 96px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/CV.JPG");
  background-position: 50% 50%;
  min-height: 195px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/linkedIn.jpg");
  background-position: 50% 50%;
  min-height: 195px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/GitHub.png");
  background-position: 50% 50%;
  min-height: 195px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/kaggle.png");
  background-position: 50% 50%;
  min-height: 195px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 377px;
  margin: -358px -10px 60px auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 194px;
}

.u-section-1 .u-container-layout-5 {
  padding: 6px 0;
}

.u-section-1 .u-image-5 {
  filter: brightness(0.8);
  width: 154px;
  height: 148px;
  margin: 0 auto 0 16px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  margin: -126px 9px 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 213px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  filter: brightness(0.8);
  width: 151px;
  left: 20px;
  right: auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 0 0 191px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0 173px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1082px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 135px;
  }

  .u-section-1 .u-image-2 {
    min-height: 135px;
  }

  .u-section-1 .u-image-3 {
    min-height: 135px;
  }

  .u-section-1 .u-image-4 {
    min-height: 135px;
  }

  .u-section-1 .u-layout-cell-5 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -127px;
  }

  .u-section-1 .u-layout-cell-6 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 40px;
    margin-right: -11px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 238px;
  }

  .u-section-1 .u-image-2 {
    min-height: 238px;
  }

  .u-section-1 .u-image-3 {
    min-height: 238px;
  }

  .u-section-1 .u-image-4 {
    min-height: 238px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
    margin-top: -96px;
    margin-right: -11px;
    margin-bottom: 14px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1980px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 357px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 357px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 357px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 357px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
    margin-top: -574px;
    margin-right: -10px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1504px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 225px;
  }

  .u-section-1 .u-image-2 {
    min-height: 225px;
  }

  .u-section-1 .u-image-3 {
    min-height: 225px;
  }

  .u-section-1 .u-image-4 {
    min-height: 225px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
    margin-top: -838px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 154px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 136px;
  }
}